.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode/*
!.vscode/launch.example.json
!.vscode/launch.json
!.vscode/opencode.ps1
!.vscode/settings.example.json
!.vscode/tasks.json
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo
.codex_dev_logs/
